.blogdetails-main{
    background-image: url("../../assets/neoncity3.jpg");
}

.blogdetails-card{
    background-color: rgba(25, 25, 112, 0.2);
    font-size: x-large;
    color: wheat;
}

.blogdetails-card-col{
    background-color: rgba(25, 25, 112, 0.2);
}

.blogdetails-card-title{
    padding: 1rem;
    background-color: rgba(148, 0, 211, 0.25);
    color: deeppink;
    font-size: xx-large;
    text-transform: uppercase;
}

.blogdetails-card-image{
    width: 35rem;
}

@media screen and (max-width: 767px) {
    .blogdetails-card-image{
        width: 70vw;
    }
}

.blogdetails-card-link{
    font-size: large;
    text-transform: uppercase;
    color: aquamarine !important;
}

.blogdetails-card-link:hover{
    text-decoration: overline;
}

.blogdetails-links-row{

}

.blogdetails-links-return{
    color: deeppink !important;
    font-size: xx-large;
}

.blogdetails-links-return:hover{
    color: deeppink !important;
    font-size: xx-large;
    text-decoration: overline;
}

.blogdetails-links-comment{
    color: indigo !important;
    font-size: xx-large;
}

.blogdetails-links-comment:hover{
    color: indigo !important;
    font-size: xx-large;
    text-decoration: overline;
}

.blogdetails-links-col1{
    background-color: rgba(0, 0, 0, 0.6);
}

.blogdetails-links-col2{
    background-color: rgba(250, 235, 215, 0.5);
}

.blogdetails-comments-col{
    font-size: x-large;
    color: wheat;
    background-color: rgba(199, 21, 133, 0.2);
}

.blogdetails-comments-card{
    background-color: rgba(199, 21, 133, 0.2);
}

.blogdetails-comments-cardtitle{
    font-size: large!important;
    color: aquamarine;
    text-transform: uppercase;
}

.blogdetails-comments-cardbody{
    border-bottom: 2px solid rgba(220, 20, 60, 0.5);
}

.blogdetails-comment-col{
    background-color: rgba(250, 235, 215, 0.2);
}

.blogdetails-comment-card{
    background-color: rgba(250, 235, 215, 0.3);
}

.blogdetails-comment-formcontrol{
    border-radius: 0 !important;
    /*font-style: italic !important;*/
    font-size: x-large !important;
    background: transparent !important;
    border: 2px solid deeppink !important;
    color: indigo !important;
}

.blogdetails-comment-formcontrol:focus{
    box-shadow: none !important;
}

.blogdetails-comment-formcontrol::placeholder{
    font-style: italic !important;
    color:darkslateblue!important;
    font-size: x-large !important;
}

.blogdetails-toaster{
    font-size: x-large;
    color: wheat;
    background-color: indigo;
    text-align: center;
}

.blogdetails-delete-button{
    border: none !important;
    background-color: indigo;
    color:wheat;
}

.blogdetails-delete-button:hover{
    border: none !important;
    background-color: wheat;
    color:indigo;
}

.blogdetails-delete-button:focus{
    box-shadow: none !important;
    border: none !important;
    background-color: wheat !important;
    color:indigo !important;
}

