.register-user-main-container {
    min-height: 100vh;
    background-image: linear-gradient(rgb(7, 2, 36), indigo,lightskyblue);
}

.register-user-sub-container {

}

.register-user-div-form {
    background-color: rgba(240, 104, 50, 0.1);
    margin-top: 10%;
}

.register-user-form-control {
    border-radius: 0 !important;
    font-size: x-large !important;
    background: transparent !important;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom-color: wheat !important;
    color: antiquewhite !important;
    border-bottom-width: 2px !important;
}

.register-user-form-control:focus {
    box-shadow: none !important;
}

.register-user-register-button{
    background-color: orangered;
    border: none;
    padding-inline: 5rem;
    margin-bottom: 1rem;
}

.register-user-register-button:hover{
    background-color: red;
}

.register-user-register-button:focus{
    background-color: red;
    box-shadow: none !important;
}

.register-user-register-button:disabled{
    background-color: lightcoral;
}

.register-user-redirect-button{
    background-color: orangered;
    border: none;
    padding-inline: 5rem;
    margin-bottom: 1rem;
}

.register-user-redirect-button:hover{
    background-color: red;
}

.register-user-redirect-button:focus{
    background-color: red;
    box-shadow: none !important;
}

.register-user-toaster{
    background-color: darkolivegreen;
    color: antiquewhite;
    font-size: x-large;
    text-align: center !important;
}

.register-user-form{
    width: 90%;
    color: wheat;
    font-size: medium;
    font-style: italic !important;
}


::-webkit-file-upload-button {
    background-color: indigo !important;
    padding: 0.5rem 2rem !important;
    border: none !important;
    border-radius: 5px;
    color: lightblue !important;
    margin-right: 1rem;
}

::-webkit-file-upload-button:hover {
    background-color: lightblue !important;
    color: indigo !important;
    padding: 0.5rem 2rem !important;
    border: none !important;
}

::-webkit-file-upload-button:focus {
    background-color: indigo !important;
    padding: 0.5rem 2rem !important;
    border: none !important;
    border-radius: 5px;
    color: lightblue !important;
    margin-right: 1rem;
}

