.page-link {
    background-color: transparent;
    color: wheat !important;
    border-color: wheat !important;
    box-shadow: none !important;
}

.page-link:hover {
    background-color: rgba(75, 0, 130, 0.6) !important;
    color: wheat !important;
    border-color: wheat !important;
    box-shadow: none !important;
}


.page-item.active .page-link {
    color: wheat !important;
    background-color: rgba(199, 21, 133, 0.6) !important;
    border-color: wheat !important;
}

.page-item.disabled .page-link {
    color: wheat !important;
    background-color: rgba(199, 21, 133, 0.6) !important;
    border-color: wheat !important;
}


