.commentlist-main-container {
    min-height: 100vh;
    background-image: linear-gradient(rgb(7, 2, 36), indigo, lightskyblue);
}

.commentlist-sub-container {

}

.commentlist-table {
    background-color: rgba(240, 104, 50, 0.1);
    margin-top: 2rem;
    font-size: large;
}

.commentlist-span {
    font-size: x-large;
    margin-top: 10%;
    color: wheat;
}

.commentlist-span-col {
    margin-top: 10%;
}

.commentlist-thead {
    color: wheat;
}

.commentlist-tbody {
    color: antiquewhite;
}

.commentlist-link {
    color: darkorange;
}

.commentlist-link:hover {
    color: orangered;
    text-decoration: none;
}

.commentlist-redirect-button {
    background-color: orangered;
    border: none;
    margin-top: 1rem;
    padding-inline: 5rem;
    margin-bottom: 10%;
    color: antiquewhite;
}

.commentlist-redirect-button:hover {
    background-color: red;
    color: antiquewhite;
    box-shadow: 0 0 0 2px darkred !important;
    border-radius: 5px !important;
}

.commentlist-delete-button {
    background-color: red;
    border: none;
    padding-inline: 2rem;
}

.commentlist-delete-button:hover {
    background-color: orangered;
    color: darkred;
}

.commentlist-delete-button:focus {
    background-color: orangered;
    box-shadow: none !important;
}

.commentlist-toaster {
    background-color: darkolivegreen;
    color: antiquewhite;
    font-size: x-large;
    text-align: center !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: yellow;
}

.drd-menu {
    background-color: rgba(255, 255, 200, 0.9) !important;
    /*display: inline-flex !important;*/
}


.drd-item:focus {
    background-color: coral !important;
}

.drd-item:hover {
    background-color: lightseagreen !important;
    color: antiquewhite !important;
}

.drd-toggle {
    background-color: slateblue !important;
    color: antiquewhite !important;
    border: none !important;
    margin-top: 1rem;
    padding-inline: 5rem;
    margin-bottom: 10%;
}

.drd-toggle:hover {
    background-color: darkslateblue !important;
    color: antiquewhite !important;
    box-shadow: 0 0 0 2px indigo !important;
    border-radius: 5px !important;
}

.drd-toggle:focus {
    border: none !important;
    box-shadow: none !important;
}
