.designlist-main-container {
    min-height: 100vh;
    background-image: linear-gradient(rgb(7, 2, 36), indigo, lightskyblue);
}

.designlist-sub-container {

}

.designlist-table {
    background-color: rgba(240, 104, 50, 0.1);
    margin-top: 2rem;
    font-size: large;
}

.designlist-span {
    font-size: x-large;
    margin-top: 10%;
    color: wheat;
}

.designlist-span-col{
    margin-top: 10%;
}

.designlist-thead {
    color: wheat;
}

.designlist-tbody {
    color: antiquewhite;
}

.designlist-link {
    color: darkorange;
}

.designlist-link:hover {
    color: orangered;
    text-decoration: none;
}

.designlist-redirect-button {
    background-color: orangered;
    border: none;
    margin-top: 1rem;
    padding-inline: 5rem;
    margin-bottom: 10%;
}

.designlist-redirect-button:hover {
    background-color: red;
}

.designlist-redirect-button:focus {
    box-shadow: none !important;
    background-color: darkorange !important;
}

.designlist-delete-button {
    background-color: red;
    border: none;
    padding-inline: 2rem;
}

.designlist-delete-button:hover {
    background-color: orangered;
    color: darkred;
}

.designlist-delete-button:focus {
    background-color: darkorange !important;
    box-shadow: none !important;
}

.designlist-toaster {
    background-color: darkolivegreen;
    color: antiquewhite;
    font-size: x-large;
    text-align: center !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color:yellow;
}
