.homepage-main {
    background-size: cover;
    background-image: url("../../assets/neoncity4.jpg");
}

.homepage-title-col {
    padding: 6rem;
    background-color: rgba(75, 0, 130, 0.5);
}

.homepage-title-span {
    font-size: 6rem;
    color: wheat;
    text-decoration: overline;
}

.homepage-subtitle-span {
    font-size: 2.5rem;
    color: wheat;
}

.homepage-card{
    font-size: x-large;
    border: none!important;
    background-color: rgba(0, 0, 0, 0.5);
}

.homepage-cardheader{
    margin-top: 0.5rem;
    font-size: xx-large;
    text-decoration: overline;
    color: aquamarine;
}

.homepage-cardbody{
    color: wheat;
}

.homepage-foot-link{
    color: deeppink;
}

.homepage-foot-link:hover{
    color: deeppink;
    text-decoration: overline;
}

.homepage-mission-col{
    background-color: rgba(250, 235, 215,0.1);
}

.homepage-mission-span{
    color: deeppink;
    font-size: xxx-large;
    text-decoration: overline;
}

.homepage-mission-p{
    font-size: xx-large;
    color: aquamarine;
}

.homepage-mission-link{
    font-size: xx-large;
    color: deeppink;
}

.homepage-mission-link:hover{
    text-decoration: overline;
    color: deeppink;
}

.photo-row{
    background-color: rgba(199, 21, 133, 0.3);
}

.photo-row-p{
    color: wheat;
    margin-top: 10rem;
    font-size: 2.5rem;
}


#Maria-hide{
    display: none;
    font-size: x-large;
    position: absolute;
    margin-top: -0.5rem;
}

#Maria:hover #Maria-hide{
    display: block;
    color: deeppink !important;
    text-decoration: none !important;
}

.maria-link{
    color: aquamarine !important;
}

.maria-link:hover{
    color: aquamarine !important;
    text-decoration: overline !important;
}
